In [9]:
import os
import pandas as pd

In [ ]:
pasta_atual = os.getcwd()
pasta_empresas = os.path.join(pasta_atual, '..', 'empresas')
pasta_empresas = os.path.abspath(pasta_empresas)

'c:\\Users\\User543\\Documents\\GitHub\\GS_Automacoes\\GS\\Mapeamento Bairro Condominio\\empresas'

In [13]:
empresas1 = os.path.join(pasta_empresas, "Empresas1.csv")
empresas1 = os.path.abspath(empresas1)
nomes_colunas = ["cnpj", "razao_social", "nat_jurid", "qual_resp", "capit_soc", "porte", "ente_fed"]
dataset_empresas1 = pd.read_csv(empresas1, dtype=str, sep=";", encoding="latin1", names=nomes_colunas)

In [14]:
empresas1

'c:\\Users\\User543\\Documents\\GitHub\\GS_Automacoes\\GS\\Mapeamento Bairro Condominio\\empresas\\Empresas1.csv'

In [15]:
dataset_empresas1

,cnpj,razao_social,nat_jurid,qual_resp,capit_soc,porte,ente_fed
0,00000000,BANCO DO BRASIL SA,2038,10,"120000000000,00",05,NaN
1,00000001,ASSOCIACAO DE AMIGOS DE BAIRRO DO CONJ PAULISTANO,3999,16,"0,00",05,NaN
2,00000002,WM&R EMPREITEIRA DE CONSTRUCAO CIVIL LIMITADA,2240,49,"0,00",05,NaN
3,00000003,CASA CARIDADE LUZETE ROBERTA DE MORAIS CONJ PA...,3999,16,"0,00",05,NaN
4,00000004,ASSOCIACAO DO PEQUENO ADOLECENTE DO CONJ PAULI...,3999,16,"0,00",05,NaN
...,...,...,...,...,...,...,...
4494855,04631955,EDNILSON BRASILEIRO - RESTAURANTE,2135,50,"10000,00",01,NaN
4494856,04631956,STELF MATERIAIS DE CONSTRUCAO LTDA,2062,49,"418536,00",03,NaN
4494857,04631957,ASSOCIACAO COMUNITARIA RURAL DOS MORADORES DO ...,3999,16,"0,00",05,NaN
4494858,04631959,"COSEPRE - CORRETORA DE SEGUROS DE VIDA, CAPITA...",2062,49,"0,00",05,NaN
4494859,04631960,LUCIANA RAUBER,2135,50,"0,00",05,NaN