In [9]:
import os
import pandas as pd

In [60]:
def capturar_dataset_empresas(nome_do_arquivo):
    pasta_atual = os.getcwd()
    pasta_empresas = os.path.join(pasta_atual, '..', 'empresas')
    pasta_empresas = os.path.abspath(pasta_empresas)

    empresas1 = os.path.join(pasta_empresas, nome_do_arquivo)
    empresas1 = os.path.abspath(empresas1)

    nomes_colunas = ["cnpj_base", "razao_social", "nat_jurid", "qual_resp", "capit_soc", "porte", "ente_fed"]
    dataset_empresas1 = pd.read_csv(empresas1, dtype=str, sep=";", encoding="latin1", names=nomes_colunas)
    dataset_empresas1 = dataset_empresas1.drop(['nat_jurid', 'qual_resp', 'capit_soc', 'porte', 'ente_fed'], axis=1)

    return dataset_empresas1

In [61]:
def cruzar_dados_cond_fort_razao_social():
    pasta_atual = os.getcwd()

    pasta_arquivos = os.path.join(pasta_atual, '..', "empresas")
    pasta_arquivos = os.path.abspath(pasta_arquivos)
    os.makedirs(pasta_arquivos, exist_ok=True)

    pasta_destino = os.path.join(pasta_atual, '..', "condominios_fortaleza")
    pasta_destino = os.path.join(pasta_destino)
    os.makedirs(pasta_destino, exist_ok=True)

    #capturando nome dos arquivos de estabelecimentos
    arquivos_extraidos = os.listdir(pasta_arquivos)

    condominios_fortaleza = os.path.join(pasta_destino, "condominios_fortaleza.csv")
    condominios_fortaleza = os.path.abspath(condominios_fortaleza)

    cond_fortaleza_com_razao_social = pd.read_csv(condominios_fortaleza, dtype=str, encoding='latin1')

    for arquivo in arquivos_extraidos:
        empresa = capturar_dataset_empresas(arquivo)

        cond_fortaleza_com_razao_social = pd.merge(
            cond_fortaleza_com_razao_social,
            empresa,
            on='cnpj_base',
            how='inner'
        )

    #organizando a posicao da coluna razao_social
    razao_social = cond_fortaleza_com_razao_social["razao_social"]
    cond_fortaleza_com_razao_social = cond_fortaleza_com_razao_social.drop(["razao_social"], axis=1)
    cond_fortaleza_com_razao_social.insert(3, "razao_social", razao_social)

    #export do arquivo final
    nome_do_arquivo = os.path.join(pasta_destino, "condominios_fortaleza_com_razao_social.csv")
    nome_do_arquivo = os.path.abspath(nome_do_arquivo)
    cond_fortaleza_com_razao_social.to_csv(nome_do_arquivo, index=False, encoding='latin1')

In [ ]:
cruzar_dados_cond_fort_razao_social()

In [ ]:
intervalo_cond_fortaleza = pd.merge(
    intervalo_cond_fortaleza,
    intervalo_de_empresas,
    on='cnpj_base',
    how='inner'
)
intervalo_cond_fortaleza

,cnpj,cnpj_base,matriz_filial,nome_fantasia,sit_cadast,data_sit_cadast,motivo_sit_cadast,nome_cidade_exterior,pais,data_inicio,...,uf,municipio,ddd1,telefone1,ddd2,telefone2,ddd_fax,fax,email,razao_social
0,23836618/0001-91,23836618,1,MOMENTUM OFFICE BEZERRA DE MENEZES,02,13/11/2015,00,NaN,NaN,13/11/2015,...,CE,1389,85,34570303,85,34570326,85,34570300,IMPLANTACAO.COND@GRUPOVIPER.COM.BR,MOMENTUM OFFICE BEZERRA DE MENEZES

In [21]:
condominios_fortaleza = os.getcwd()
condominios_fortaleza = os.path.join(condominios_fortaleza, '..', 'condominios_fortaleza')
condominios_fortaleza = os.path.abspath(condominios_fortaleza)
condominios_fortaleza = os.path.join(condominios_fortaleza, 'condominios_fortaleza.csv')
condominios_fortaleza

dataset_cond_fortaleza = pd.read_csv(condominios_fortaleza, dtype=str, encoding='latin1')

In [ ]:
dataset_cond_fortaleza

,cnpj,cnpj_base,matriz_filial,nome_fantasia,sit_cadast,data_sit_cadast,motivo_sit_cadast,nome_cidade_exterior,pais,data_inicio,...,cep,uf,municipio,ddd1,telefone1,ddd2,telefone2,ddd_fax,fax,email
0,23836618/0001-91,23836618,1,MOMENTUM OFFICE BEZERRA DE MENEZES,02,13/11/2015,00,NaN,NaN,13/11/2015,...,60325005,CE,1389,85,34570303,85,34570326,85,34570300,IMPLANTACAO.COND@GRUPOVIPER.COM.BR
1,24276387/0001-71,24276387,1,NaN,02,10/05/1985,00,NaN,NaN,10/05/1985,...,60325820,CE,1389,85,32385841,85,30215841,NaN,NaN,NaN
2,24723972/0001-72,24723972,1,NaN,02,15/03/2016,00,NaN,NaN,15/03/2016,...,60192095,CE,1389,85,34570303,85,34570326,85,34570300,IMPLANTACAO01.COND@GRUPOVIPE.COM.BR
3,19449874/0001-59,19449874,1,NaN,02,03/12/2013,00,NaN,NaN,03/12/2013,...,60824235,CE,1389,85,86153432,NaN,NaN,NaN,NaN,diego19assis@bol.com.br
4,17172085/0001-98,17172085,1,CELEBRATION RESIDENCE,02,17/07/2012,00,NaN,NaN,17/07/2012,...,60812535,CE,1389,85,33046868,85,33046855,NaN,NaN,consultor.implantacao@singularpremium.com.br
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4747,21595638/0001-92,21595638,1,CONDOMINIO RESIDENCIAL PALACE DE FRANCE II,02,25/10/2013,00,NaN,NaN,25/10/2013,...,60714040,CE,1389,85,99732787,85,89552556,NaN,NaN,LARALUNA88@HOTMAIL.COM
4748,22797024/0001-56,22797024,1,CONDOMINIO RESIDENCIAL AGUA FRIA,02,05/09/2011,00,NaN,NaN,05/09/2011,...,60821775,CE,1389,85,32391434,NaN,NaN,NaN,NaN,NaN
4749,22967982/0001-28,22967982,1,NaN,02,05/06/2015,00,NaN,NaN,05/06/2015,...,60810190,CE,1389,85,34570303,85,34570326,85,34570300,IMPLANTACAO.COND@GRUPOVIPER.COM.BR
4750,23189841/0001-94,23189841,1,CONDOMINIO RESIDENCIAL DEL MONTE I,02,31/07/2015,00,NaN,NaN,31/07/2015,...,60732546,CE,1389,85,30337700,NaN,NaN,85,30337704,RECURSOS@GERENCIALADMINISTRADORA.COM.BR
4751,23341160/0001-08,23341160,1,NaN,02,08/09/2015,00,NaN,NaN,08/09/2015,...,60135460,CE,1389,85,34570303,85,34570326,85,34570300,IMPLANTACAO.COND@GRUPOVIPER.COM.BR

#### Teste do merge