In [1]:
import pandas as pd

In [8]:
import pandas as pd
import smtplib
from ler_credenciais import ler_credenciais_remet, ler_credenciais_db
from get_data import get_data
from enviar_email import enviar_email


creds_db = ler_credenciais_db()
df = get_data(creds_db['server'], creds_db['username'], creds_db['password'], creds_db['database'])

creds_remet = ler_credenciais_remet()
for _, i in df.iterrows():
    i['email_cli'] = 'pedrosilva.asl2015@gmail.com'
df

,cnpj,empresa,num_titulo,tipo,cnpj_cli,desc_cli,email_cli,dt_baixa,dt_emissao,dt_vencimento
0,16707848000195,SINGULAR FACILITIES SERVICE S.A.,000024104,NF,30628540000185,PARQUE DOS IPES,pedrosilva.asl2015@gmail.com,,20250623,20250628
1,16707848000195,SINGULAR FACILITIES SERVICE S.A.,000024187,NF,31913220000130,CONDOMINIO SOLARIUM,pedrosilva.asl2015@gmail.com,,20250623,20250628

In [11]:
for _, i in df.iterrows():
    enviar_email(creds_remet, i['email_cli'])

In [17]:
from datetime import datetime

datetime.strptime('20250628', "%Y%m%d")

datetime.datetime(2025, 6, 28, 0, 0)

In [4]:
from data_venc import data_venc

data_venc('20250628')

datetime.datetime(2025, 6, 28, 0, 0)

In [1]:
from data_venc import data_venc

data_venc('20250628')

'28/06/2025'