In [28]:
import pandas as pd
import re
import random
import time
import os

In [49]:
CAMINHO_PLANILHA = 'C:\\Users\\User543\\Documents\\CONTROLE_DE_ENVIOS_DET_(18.06).xlsx'
DOMINIO_EMAIL = 'outlook.com'

In [4]:
def gerar_email(primeiro_nome, segundo_nome):
    numero_aleatorio = random.randint(100, 999)  
    nome1 = re.sub(r'[^a-z0-9]', '', primeiro_nome.lower())
    nome2 = re.sub(r'[^a-z0-9]', '', segundo_nome.lower()) if segundo_nome else ''
    return f"{nome1}.{nome2}{numero_aleatorio}@{DOMINIO_EMAIL}"

In [3]:
def gerar_senha(primeiro_nome):
    numero_aleatorio = random.randint(100, 999)  
    return f"309263@{primeiro_nome}{numero_aleatorio}"

In [53]:
def atualizar_planilha_com_emails(caminho_arquivo):
    try:
        df = pd.read_excel(caminho_arquivo)

        for col in ['RAZÃO SOCIAL', 'E-MAIL', 'SENHA']:
            if col not in df.columns:
                df[col] = ''

        #ATRIBUICAO DE E-MAIL E SENHA CASO REGISTRO NAO TENHA E-MAIL
        for i, row in df[df['E-MAIL'].isna()].iterrows():
            empresa = str(row['RAZÃO SOCIAL']).strip()
            partes = empresa.split()

            if not partes:
                continue  

            primeiro_nome = partes[0]
            segundo_nome = partes[1] if len(partes) > 1 else 'RAZÃO SOCIAL'

            email = gerar_email(primeiro_nome, segundo_nome)
            df.at[i, 'E-MAIL'] = email
            df.at[i, 'SENHA'] = gerar_senha(primeiro_nome)

        #ATRIBUICAO DE SENHA CASO REGISTRO TENHA E-MAIL MAS NÃO TENHA SENHA
        for i, row in df[df['SENHA'].isna()].iterrows():
            empresa = str(row['RAZÃO SOCIAL']).strip()
            partes = empresa.split()

            if not partes:
                continue  

            primeiro_nome = partes[0]
            df.at[i, 'SENHA'] = gerar_senha(primeiro_nome)

        # INICIO TESTE
        novo_caminho = CAMINHO_PLANILHA[:-5] + "_novo.xlsx"
        novo_caminho
        df.to_excel(novo_caminho, index=False)
        # FIM TESTE
        # df.to_excel(novo_caminho, index=False)
        print("Planilha atualizada com emails e senhas.")
        time.sleep(3)

    except Exception as e:
        print(f"[ERRO] Ocorreu um problema: {e}")

In [54]:
atualizar_planilha_com_emails(CAMINHO_PLANILHA)

Planilha atualizada com emails e senhas.

#### Área de Testes

In [50]:
df = pd.read_excel(CAMINHO_PLANILHA)

In [52]:
dfn = df[df['E-MAIL'].isna()]
dfn

,QUANTI,GRUPO,RAZÃO SOCIAL,CNPJ,E-MAIL,SENHA,DET,TIPO,ESTADO
239,NaN,NaN,CERUS SOMA SERVICOS FINANCEIRO LTDA,55.802.712/0001-16,NaN,NaN,NaN,NaN,NaN
240,NaN,NaN,FIDC CERUS FUNDO DE INVESTIMENTO EM DIREITOS C...,47.117.653/0001-19,NaN,NaN,NaN,NaN,NaN
241,NaN,NaN,METRUS SERVIÇOS ADMINISTRATIVOS LTDA,11.620.682.0001-51,NaN,NaN,NaN,NaN,NaN
242,NaN,NaN,NOVA METRUS ADMINISTRAÇÃO E APOIO A EDIFÍCIOS ...,35.206.890.0001-77,NaN,NaN,NaN,NaN,NaN
243,NaN,NaN,CERUS SECURITIZADORA DE CREDITOS S.A.,40.652.892/0003-91,NaN,NaN,NaN,NaN,NaN
244,NaN,NaN,SINGULAR FACILITIES SERVICE S.A.,16.707.848/0010-86,NaN,NaN,NaN,NaN,NaN
245,NaN,NaN,CONDOEXPERT LTDA,47.500.410/0001-65,NaN,NaN,NaN,NaN,NaN

In [ ]:
dfn = df[df['E-MAIL'].isna()]

Empty DataFrame
Columns: [QUANTI, GRUPO, RAZÃO SOCIAL, CNPJ, E-MAIL, SENHA, DET, TIPO, ESTADO]
Index: []