In [ ]:
import pandas as pd
import os

In [ ]:
condominios_atual = pd.read_csv("cnpjs_atual.csv", sep=';', dtype=str, encoding='latin1')
condominios_atual

,cnpj,cnpj_base,matriz_filial,nome_fantasia,sit_cadast,data_sit_cadast,motivo_sit_cadast,nome_cidade_exterior,pais,data_inicio,...,cep,uf,municipio,ddd1,telefone1,ddd2,telefone2,ddd_fax,fax,email
0,23584459/0001-85,23584459,1,PVIEIRA IMOVEI,2,03/11/2015,0,NaN,NaN,03/11/2015,...,60050071,CE,1389,85,32213503,NaN,NaN,NaN,NaN,NaN
1,23594447/0001-31,23594447,1,IMOBILIARIA EVIDENCE,2,04/11/2015,0,NaN,NaN,04/11/2015,...,60450115,CE,1389,85,86682285,NaN,NaN,NaN,NaN,ROBERTOTEMOTIO2012@GMAIL.COM
2,23972346/0001-57,23972346,1,MOZART FARIAS IMOVEIS,2,14/01/2016,0,NaN,NaN,14/01/2016,...,60192105,CE,1389,85,86821000,NaN,NaN,NaN,NaN,MOZART@MOZARTFARIAS.COM.BR
3,23649896/0001-30,23649896,1,GERENCIAL CONDOMINIO,2,11/11/2015,0,NaN,NaN,11/11/2015,...,60411075,CE,1389,85,34942291,NaN,NaN,NaN,NaN,NaN
4,23885126/0001-96,23885126,1,PRO3 SINDCON,2,13/02/2025,0,NaN,NaN,24/12/2015,...,60813730,CE,1389,85,88462557,85,98899899,NaN,NaN,BRUNO_BENEVIDE@HOTMAIL.COM
5,25229471/0001-05,25229471,1,METRAN GESTAO CONDOMINIAL,2,15/07/2016,0,NaN,NaN,15/07/2016,...,60150190,CE,1389,85,31817979,NaN,NaN,NaN,NaN,METRAN@METRAN.NET.BR

In [7]:
condominios_antigo = pd.read_csv("cnpjs_antigo.csv", dtype=str, sep=';', encoding='latin1')
condominios_antigo

,cnpj,cnpj_base,matriz_filial,nome_fantasia,sit_cadast,data_sit_cadast,motivo_sit_cadast,nome_cidade_exterior,pais,data_inicio,...,cep,uf,municipio,ddd1,telefone1,ddd2,telefone2,ddd_fax,fax,email
0,23649896/0001-30,23649896,1,GERENCIAL CONDOMINIO,2,11/11/2015,0,NaN,NaN,11/11/2015,...,60411075,CE,1389,85,34942291,NaN,NaN,NaN,NaN,NaN
1,23885126/0001-96,23885126,1,PRO3 SINDCON,2,13/02/2025,0,NaN,NaN,24/12/2015,...,60813730,CE,1389,85,88462557,85,98899899,NaN,NaN,BRUNO_BENEVIDE@HOTMAIL.COM
2,25229471/0001-05,25229471,1,METRAN GESTAO CONDOMINIAL,2,15/07/2016,0,NaN,NaN,15/07/2016,...,60150190,CE,1389,85,31817979,NaN,NaN,NaN,NaN,METRAN@METRAN.NET.BR
3,08645058/0001-02,8645058,1,NaN,2,11/01/2007,0,NaN,NaN,11/01/2007,...,60160230,CE,1389,85,34581755,85,34581755,85,34581756,ruifarias@secrel.com.br
4,20110769/0001-70,20110769,1,VPM PARTICIPACOES,2,16/04/2014,0,NaN,NaN,16/04/2014,...,60170000,CE,1389,85,32088700,NaN,NaN,85,32532025,NaN
5,09004361/0001-80,9004361,1,NaN,8,03/03/2020,1,NaN,NaN,09/07/2007,...,60125150,CE,1389,85,34331090,85,32640409,85,32640410,jbcampos8@yahoo.com.br
6,09512389/0001-29,9512389,1,NaN,8,21/02/2024,1,NaN,NaN,15/04/2008,...,60055050,CE,1389,85,32534095,NaN,NaN,NaN,NaN,NaN
7,15596357/0001-51,15596357,1,SOLARES CONSTRUCOES,4,27/08/2024,63,NaN,NaN,21/05/2012,...,60415100,CE,1389,85,99254978,NaN,NaN,NaN,NaN,NaN

In [9]:
acrescimos = condominios_atual[~condominios_atual['cnpj_base'].isin(condominios_antigo['cnpj_base'])]
acrescimos

,cnpj,cnpj_base,matriz_filial,nome_fantasia,sit_cadast,data_sit_cadast,motivo_sit_cadast,nome_cidade_exterior,pais,data_inicio,...,cep,uf,municipio,ddd1,telefone1,ddd2,telefone2,ddd_fax,fax,email
0,23584459/0001-85,23584459,1,PVIEIRA IMOVEI,2,03/11/2015,0,NaN,NaN,03/11/2015,...,60050071,CE,1389,85,32213503,NaN,NaN,NaN,NaN,NaN
1,23594447/0001-31,23594447,1,IMOBILIARIA EVIDENCE,2,04/11/2015,0,NaN,NaN,04/11/2015,...,60450115,CE,1389,85,86682285,NaN,NaN,NaN,NaN,ROBERTOTEMOTIO2012@GMAIL.COM
2,23972346/0001-57,23972346,1,MOZART FARIAS IMOVEIS,2,14/01/2016,0,NaN,NaN,14/01/2016,...,60192105,CE,1389,85,86821000,NaN,NaN,NaN,NaN,MOZART@MOZARTFARIAS.COM.BR

In [ ]:
pasta_atual = os.getcwd()

pasta_arquivos = os.path.join(pasta_atual, '..', "condominios_fortaleza")
pasta_arquivos = os.path.abspath(pasta_arquivos)
os.makedirs(pasta_arquivos, exist_ok=True)

condominios_fortaleza_antigo = os.path.join(pasta_arquivos, "condominios_fortaleza.csv")
condominios_fortaleza_antigo = os.path.abspath(condominios_fortaleza_antigo)

condominios_fortaleza_novo = os.path.join(pasta_arquivos, "condominios_fortaleza_com_razao_social_atualizado.csv")
condominios_fortaleza_novo = os.path.abspath(condominios_fortaleza_novo)